{#- \ Microsoft Windows 8 Application #}
<meta name="msapplication-square70x70logo"      content="{{ static('favicon/mstile-70x70.png') }}">
<meta name="msapplication-square150x150logo"    content="{{ static('favicon/mstile-150x150.png') }}">
<meta name="msapplication-square310x310logo"    content="{{ static('favicon/mstile-310x150.png') }}">
<meta name="msapplication-wide310x150logo"      content="{{ static('favicon/mstile-310x150.png') }}">
<meta name="msapplication-TileColor"            content="#ffffff">
<meta name="msapplication-TileImage"            content="{{ static('favicon/favicon-144.png') }}">
<meta name="msapplication-config"               content="{{ static('browserconfig.xml') }}">
<meta name="msapplication-tooltip"              content="{{ site_name }}">
{#- / Microsoft Application #}

{#- \ Microsoft Internet Explorer #}
<meta name="msapplication-starturl"             content="{{ site_contact.site_url }}') }}">
{#- / Microsoft Internet Explorer #}